/********** Template CSS **********/
:root {
  --primary: #6244c5;
  --secondary: #ffc448;
  --light: #fafafb;
  --dark: #12141d;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Navbar ***/
.navbar.fixed-top {
  display: none;
  transition: 0.5s;
}

.navbar-nav {
  display: flex;
  gap: 50px;
}

.navbar .navbar-nav .nav-link {
  padding: 20px 15px;
  /* color: var(--dark); */
  color: #422f2f;
  font-size: 18px;
  font-weight: 600;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

/*** Header ***/
#home {
  /* margin-bottom: 6rem; */
  /* background: url(../img/bg-header.png) left top no-repeat; */
  background-color: white;
  /* height: 100vh !important; */
}

.typed-cursor {
  font-size: 30px;
  color: var(--dark);
}

.btn-play {
  position: relative;
  display: block;
  box-sizing: content-box;
  width: 16px;
  height: 26px;
  border-radius: 100%;
  border: none;
  outline: none !important;
  padding: 18px 20px 20px 28px;
  /* background: var(--primary); */
  background: #fe3c66;
}

.btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  /* background: var(--primary); */
  background: #fe3c66;
  border-radius: 100%;
  animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 100%;
  transition: all 200ms;
}

.btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  left: -1px;
  /* border-left: 16px solid var(--primary); */
  border-left: 16px solid #fe3c66;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}

.fade-effect-blue,
.fade-effect-pink {
  position: relative;
  /* width: 40px;
  height: 40px; */
  border-radius: 100%;
}

.fade-effect-blue:before,
.fade-effect-pink:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  animation: pulse-border 1500ms ease-out infinite;
}

.fade-effect-blue:after,
.fade-effect-pink:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 11px;
  height: 11px;
  background: #ffffff;
  border-radius: 100%;
  transition: all 200ms;
}

.fade-effect-blue:before {
  background: #0a4c7e; /* Blue background */
}

.fade-effect-pink:before {
  background: #fe3c66; /* Pink background */
}

/* .fade-effect-blue,
.fade-effect-pink {
  width: 40px;
  height: 40px;
}

.fade-effect-blue:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #0a4c7e;
  border-radius: 100%;
  animation: pulse-border 1500ms ease-out infinite;
}

.fade-effect-blue:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 100%;
  transition: all 200ms;
}

.fade-effect-pink:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #fe3c66;
  border-radius: 100%;
  animation: pulse-border 1500ms ease-out infinite;
}

.fade-effect-pink:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 100%;
  transition: all 200ms;
} */

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}

.modal-video .modal-dialog {
  position: relative;
  max-width: 800px;
  margin: 60px auto 0 auto;
}

.modal-video .modal-body {
  position: relative;
  padding: 0px;
}

.modal-video .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -30px;
  z-index: 999;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  background: #000000;
  opacity: 1;
}

/*** About ***/
#about .years .display-1 {
  font-size: 10rem;
  line-height: 9rem;
}

#about .years h5 {
  letter-spacing: 30px;
  margin-right: -30px;
}

.about-mid-section {
  width: 100%;
  height: auto;
}

.about-mid-section-left,
.about-mid-section-right {
  width: 50%;
  height: 500px;
  border-style: solid;
  transition: 1s;
}

.about-mid-section-left {
  border-color: #0a4c7e;
}

.about-mid-section-right {
  border-color: #fe3c66;
}

.about-mid-section-left h1 {
  color: hsl(347, 99%, 62%);
  background: linear-gradient(
    to right,
    hsl(347, 99%, 60%) 0,
    hsl(0, 0%, 100%) 10%,
    hsl(347, 99%, 60%) 20%
  );
}

.about-mid-section-right h1 {
  color: hsl(206, 85%, 27%);
  background: linear-gradient(
    to right,
    hsl(206, 85%, 25%) 0,
    hsl(0, 0%, 100%) 10%,
    hsl(206, 85%, 25%) 20%
  );
}

.about-mid-section-left h1,
.about-mid-section-right h1 {
  font-size: 50px !important;
  font-weight: bold !important;
  font-family: monospace;
  letter-spacing: 7px !important;
  cursor: pointer;
  text-transform: uppercase;
}

.about-mid-section-left h1,
.about-mid-section-right h1 {
  padding: 64px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

/*** Skills ***/
#skill .progress {
  height: 5px;
  border-radius: 5px;
}

#skill .progress .progress-bar {
  width: 0px;
  border-radius: 5px;
  transition: 3s;
}

#skill .nav-pills .nav-link {
  color: var(--dark);
}

#skill .nav-pills .nav-link.active {
  color: #ffffff;
}

#skill .tab-content hr {
  width: 30px;
}

/*** Service ***/
.service-item .bg-icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/bg-icon.png) center center no-repeat;
  background-size: cover;
}

/*** Project Portfolio ***/
#portfolio-flters li {
  display: inline-block;
  font-weight: 500;
  color: var(--dark);
  cursor: pointer;
  transition: 0.5s;
  border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
  color: var(--primary);
  border-color: var(--primary);
}

.portfolio-img {
  position: relative;
}

.portfolio-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(98, 68, 197, 0.9);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 30px;
  padding-bottom: 100px !important;
  opacity: 0;
  transition: 0.5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  padding-bottom: 30px !important;
}

/*** Team ***/
.team-item img {
  transition: 0.5s;
}

.team-item:hover img {
  opacity: 0.7;
}

.team-item .team-text {
  position: absolute;
  left: 0;
  right: 60px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: 0.5s;
}

.team-item:hover .team-text {
  right: 30px;
  opacity: 1;
}

.team-item .team-text div {
  transition: 0.5s;
}

.team-item:hover .team-text div {
  margin-left: 30px;
}

.team-container {
  width: 100%;
  height: auto;
  margin-top: 100px;
  /* margin-bottom: 100px; */
}

.team-container p {
  max-width: 60%;
  font-size: 1rem;
}

.team-wrapper {
  position: relative;
  margin-top: 100px;
}

.team-wrapper img {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
}

.team-member {
  position: absolute;
  /* width: 35px;
  height: 35px; */
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.005);
  border: 1px solid #d1d8c5;
  /* background-color: #6244c5; */
}

.popup-box {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 10;
  width: 260px; /* Adjust as necessary */
  height: 150px;
  opacity: 1;
  transition: opacity 0.7s;
}

.popup-box p,
.popup-box h1 {
  max-width: 100%;
}

.popup-box h1 {
  font-size: 1rem !important;
}

.popup-box p {
  font-size: 0.9rem !important;
}

/* .team-member:hover .popup-box {
  display: flex;
  opacity: 1;
} */

.team-member-1 {
  /* top: 165px;
  left: 103px; */
  top: 35px;
  left: 20px;
}

.popup-1 {
  bottom: 80px;
  left: -160px;
  /* display: flex; */
}

.team-member-1:hover .popup-1 {
  display: flex;
  opacity: 1;
}

.team-member-2 {
  /* top: 160px;
  left: 205px; */
  top: 90px;
  left: 110px;
}

.popup-2 {
  bottom: 120px;
  left: 40px;
}

.team-member-2:hover .popup-2 {
  display: flex;
  opacity: 1;
}

.team-member-3 {
  /* top: 110px;
  left: 285px; */
  top: 65px;
  left: 258px;
}

.popup-3 {
  bottom: 100px;
  left: -140px;
}

.team-member-3:hover .popup-3 {
  display: flex;
  opacity: 1;
}

.team-member-4 {
  /* top: 110px;
  left: 285px; */
  top: 55px;
  right: 137px;
}

.popup-4 {
  top: -170px;
  right: -200px;
}

.team-member-4:hover .popup-4 {
  display: flex;
  opacity: 1;
}

.team-member-5 {
  /* top: 110px;
  left: 285px; */
  top: 47px;
  right: 45px;
}

.popup-5 {
  top: -150px;
  right: -400px;
}

.team-member-5:hover .popup-5 {
  display: flex;
  opacity: 1;
}
/*** Testimonial ***/
.testimonial-left,
.testimonial-right {
  position: relative;
}

.testimonial-left img,
.testimonial-right img {
  position: absolute;
  padding: 5px;
  border: 1px solid var(--secondary);
  border-radius: 70px;
}

.testimonial-left img:nth-child(1),
.testimonial-right img:nth-child(3) {
  width: 70px;
  height: 70px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-left img:nth-child(2),
.testimonial-right img:nth-child(2) {
  width: 60px;
  height: 60px;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.testimonial-left img:nth-child(3),
.testimonial-right img:nth-child(1) {
  width: 50px;
  height: 50px;
  bottom: 10%;
  right: 10%;
}

.testimonial-carousel .owl-item img {
  width: 120px;
  height: 120px;
}

.testimonial-carousel .testimonial-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid var(--secondary);
  border-radius: 60px;
}

.testimonial-carousel .owl-dots {
  height: 40px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 2px solid var(--secondary);
  border-radius: 30px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 5px;
  left: 5px;
  border-radius: 16px;
  background: var(--secondary);
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active::after {
  background: var(--primary);
}

.contact-form {
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-form h1 {
  font-size: 2.5rem !important;
}

.contact-form button {
  padding: 10px 20px;
  font-size: 1rem;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: #fe3c66;
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
}

.contact-input-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-input-row h1 {
  color: #424242 !important;
  font-size: 1rem !important;
}

.contact-form-input {
  border-radius: 5px;
  border: 1px solid #d1d8c5;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
}

.contact-input-row textarea {
  height: 120px;
}

.office-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 3rem; */
}

.office-container h1 {
  color: #fe3c66 !important;
  margin-bottom: 1rem;
  font-size: 2rem !important;
}

.office-1 {
  background-color: #ffffff;
  border-top-right-radius: 15px;
  border-width: 0px 0px 5px 0px;
  border-style: solid;
  border-color: #0a4c7e;
}

.office-2 {
  background-color: #ffffff;
  border-width: 0px 0px 5px 0px;
  border-style: solid;
  border-color: #fe3c66;
}

.office-2 h1 {
  color: #0a4c7e !important;
}

.office-3 {
  background-color: #ffffff;
  border-bottom-right-radius: 15px;
  border-width: 0px 0px 5px 0px;
  border-style: solid;
  border-color: #0a4c7e;
}

.contact-map {
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.contact-map-left,
.contact-map-right {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.contact-map-right {
  display: flex;
  flex-direction: column;
}

.contact-map-left {
  position: relative;
  justify-content: start;
}

.contact-map-left img {
  width: 250px;
  height: auto;
}

.popup-map-location {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  z-index: 10;
}

.popup-map-location h1 {
  font-size: 1rem !important;
  margin: 0% !important;
}

.map-location-1 {
  bottom: 0px;
  left: 100px;
}

.map-location-2 {
  bottom: 20px;
  left: 400px;
}
