body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  color: #18548a !important;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hide-scrollbar {
  width: 300px;
  height: 200px;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

input {
  border: none;
}

button:active {
  outline: none !important;
  border: none !important;
}

input:focus,
textarea:focus {
  outline: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* .unwrap {
  animation: unWrap 2s ease-in-out forwards;
}

.wrap {
  animation: wrap 2s ease-in-out forwards;
} */

/* .wow {
  animation: wowEffect 1s ease-in-out forwards;
} */

/* Loading Screen */
.loading-container {
  width: 100vw;
  height: 100vh;
  transition: 0.5s;
  background-color: #0a4c7e;
  justify-content: center;
  /* animation: moveToTop 3s 3s forwards; */
}

.loading-wrapper {
  animation: shrinkDiv 3s forwards;
}

.loading-text-child h1 {
  font-family: "Gruppo", sans-serif;
  /* font-family: "Bodoni Moda SC", serif; */
  /* font-family: "Orbitron", sans-serif; */
  font-size: 6rem;
  font-weight: bold;
  color: white;
  /* animation: shrinkText 2s forwards; */
}

.loading-text-header {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
}

.loading-text-child-one {
  padding-right: 3rem;
  transform: rotate(340deg);
}

.loading-text-child-two {
  /* background-color: white; */
  border: 1px solid #fe3c66;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* padding-left: 2rem;
  padding-right: 2rem; */
  transform: rotate(25deg);
  margin-top: -40px;
  margin-right: -80px;
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
}

.loading-text-child-two h1 {
  color: #fe3c66;
  display: inline-block;
  line-height: 6rem;
}

.loading-text-child-three {
  padding-left: 3rem;
  transform: rotate(340deg);
  margin-top: -45px;
  margin-left: -90px;
}

/* Header */
.header-right-image {
  animation: fadeInRightToLeft 2s forwards;
}

/* Navigation */
.navbar-container {
  transition: 0.5s;
  display: flex;
}

/* .navbar-brand {
  background-color: #fe3c66;
} */

/* Hero */
.hero-container {
  height: calc(100vh - 70px);
}

.hero-left {
  padding: 80px 30px 80px 60px !important;
}

.hero-right {
  width: 50%;
  height: 100%;
  flex-grow: 1;
  min-width: 450px;
  /* background-color: green; */
  background-image: url(/public/img/hero_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

/* Clients */
.clients-container {
  background-color: #fe3c66;
  width: 100%;
  height: auto;
}

.clients-container-left {
  width: 550px;
  height: auto;
  flex-grow: 1;
  background-image: url("/public/img/about_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.clients-container-right {
  width: calc(100% - 550px);
  height: 100%;
  padding: 50px;
}

.clients-container-right h1 {
  font-size: 3rem;
  text-align: start;
  color: white;
  font-weight: 400 !important;
}

.clients-container-right p {
  width: 95%;
  font-size: 0.8rem;
  text-align: start;
  color: white;
}

.clients-container-right img {
  width: 120px;
  transform: rotate(-15deg);
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateX(100%);
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
}

.slide.sliding {
  transform: translateX(-100%);
}

/* Past Clients */
.carousel-container {
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  cursor: grab;
}

.carousel-container.dragging {
  cursor: grabbing;
}

.carousel {
  display: flex;
  width: max-content;
  scroll-behavior: smooth;
  gap: 20px;
}

.carousel-item {
  flex: 0 0 auto;
  width: 350px;
  margin-right: 10px;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.carousel-item p {
  font-size: 0.9rem;
}

.carousel-item h1 {
  font-size: 1rem;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

/* FAQ */
.video-background-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust this based on your needs */
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white; /* Adjust based on your design */
  text-align: center;
  /* Additional styles for your content */
}

.faq-container {
  width: 100%;
  height: auto;
  background-color: #f6f5f2;
}

.faq-wrapper {
  width: 100%;
  min-width: 300px;
}

.faq-wrapper h1 {
  color: #0a4c7e;
  font-size: 2.5rem;
}

.faq-wrapper p {
  max-width: 60%;
  font-size: 1rem;
}

.question-wrapper {
  width: 80%;
}

.faq-item {
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #5a5a5a;
}

.faq-item:last-child {
  border-width: 1px 0px 1px 0px;
}

.faq-clicker {
  width: 100%;
  height: auto;
  cursor: pointer;
  color: #0a4c7e;
  font-size: 1rem;
  font-weight: bold;
}

.faq-space-holder {
  height: 15px;
  max-height: 0;
  transition: max-height 1.5s ease-in-out;
}

.faq-answer {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease-in-out;
  font-size: 0.9rem;
}

.faq-answer.unWrap {
  max-height: 1000px;
}

.faq-answer.wrap {
  max-height: 0;
}

/* Testimonials */
.testimonial-container {
  background-color: #ffefef;
}

.testimonial-container h1 {
  color: #18548a;
  font-size: 3rem;
  text-align: start;
  font-weight: 400 !important;
}

.testimonial-slider {
  width: 90%;
  height: 350px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  border: 1px solid #ee3457;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.testimonial-slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.testimonial-slider {
  scrollbar-width: none; /* Firefox */
}

/* For other browsers */
.testimonial-slider {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.testimonial-item {
  min-width: 33.5%;
  border-width: 0px 1px 0px 0px;
  border-color: #ee3457;
  border-style: solid;
  background-color: white;
}

.testimonial-item .testimonial-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #ee3457;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonial-item h1 {
  font-size: 1.5rem;
  word-break: normal;
}

.testimonial-item p {
  text-align: justify;
  text-align-last: start;
  font-weight: normal;
  line-height: "1";
  word-break: "break-word";
}

.testimonial-carousel button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffefef;
  border: 3px solid #ffb1b1;
  transition: transform 0.1s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.testimonial-carousel button:focus {
  border: 3px solid #ffb1b1 !important;
}

/* Track record */
.track-record-container {
  background-color: #f5f5f5;
}

.track-record-container h1 {
  color: #18548a;
  font-size: 3rem;
  text-align: start;
  font-weight: 400 !important;
}

.track-record-wrapper {
  width: 90%;
  height: auto;
  flex-wrap: wrap;
}

.track-record-item {
  width: 220px;
  height: auto;
  background-color: white;
  border: 1px solid #ffebd4;
}

.track-record-item h1 {
  font-size: 1.5rem;
  font-weight: bold !important;
  color: #eb3678;
}

.track-record-container p {
  width: 70%;
  text-align: justify;
  text-align-last: center;
  font-weight: normal;
  line-height: "1";
  word-break: "break-word";
}

.track-record-container p span {
  color: #eb3678;
}

/* About */
.about-container {
  width: 100%;
  height: auto;
}

.about-wrapper h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #0a4c7e;
}

.about-heading,
.about-body {
  width: 100%;
}

.about-body h2 {
  font-size: 1.5rem;
}

.about-small-navigation a {
  text-decoration: none;
  color: #5a5a5a;
}

/* .faq-answer {
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #e7f0dc;
} */

/* .carousel-container {
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel {
  display: flex;
  width: max-content;
  scroll-behavior: smooth;
}

.carousel-item {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 10px;
  scroll-snap-align: start;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
} */

/* Footer styles */
footer {
  background-color: #fe3c66;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  width: 80%;
  max-width: 1368px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 20px 0;
}

.footer-section h3 {
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 400 !important;
  color: white;
  text-align: start !important;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: white;
}

.footer-section .footer-destinations-list {
  column-count: 2;
  column-gap: 5px;
}

.footer-section ul li {
  text-align: start;
}

.footer-section p {
  margin: 5px 0;
  font-size: 14px;
  cursor: pointer;
}

.footer-section p:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a img {
  width: 30px;
  height: 30px;
}

.footer-bottom {
  width: 100%;
  background-color: white;
  text-align: center;
  font-size: 14px;
  /* border-top: 1px solid #444; */
  margin-top: 20px;
}

.footer-bottom img {
  height: 70px;
  margin-right: 100px;
}

.footer-bottom p {
  color: #18548a;
}

.footer-maps-container {
  gap: 20px;
}

.footer-maps-container .map-address {
  font-size: 0.7rem;
}

.footer-maps-container p {
  text-align: start;
  text-decoration: none !important;
  cursor: auto;
}

.footer-maps-container .map-1,
.footer-maps-container .map-2 {
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-maps-container .map-1 {
  background-image: url(/public/img/map1.png);
}

.footer-maps-container .map-2 {
  background-image: url(/public/img/map2.png);
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}

/* Add to your styles.css or equivalent stylesheet */

/* Dropdown menu styling */
.dropdown-menu {
  display: none; /* Hidden by default */
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px 0;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
}

/* Dropdown item styling */
.dropdown-item {
  padding: 8px 20px;
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #422f2f;
}

/* Show the dropdown */
.show {
  display: block;
  margin-left: 10%;
}

/* Navbar collapse animation for mobile */
.collapse.navbar-collapse.show {
  display: block !important;
}

/* Services */
.services-container {
  background-color: white;
}

.services-container h1 {
  color: #18548a;
  font-size: 3rem;
  text-align: start;
  font-weight: 400 !important;
}

.services-container p {
  width: 70%;
  text-align: justify;
  text-align-last: center;
  font-weight: normal;
  line-height: "1";
  word-break: "break-word";
}

.services-container p span {
  color: #eb3678;
}

.services-carousel {
  width: 100%;
  overflow-x: auto;
}

.service-item {
  /* min-width: 300px; */
  min-height: 680px;
  height: auto;
  flex-grow: 1;
  border: 1px solid #ffebd4;
}

.service-item h1 {
  min-height: 70px;
  color: #18548a;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold !important;
}

.service-item .service-item-image {
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.service-item .service-para-wrapper {
  width: 100%;
  height: auto;
  flex-grow: 1;
}

.service-item .service-para-wrapper p {
  width: 100%;
  font-size: 0.9rem;
}

.service-onshore-container {
  height: auto;
}

.onshore-service-item {
  width: 100%;
  height: auto;
  min-height: 250px;
  flex-direction: row;
}

.onshore-service-item .onshore-service-left {
  width: 500px;
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.onshore-service-item .onshore-service-right {
  width: calc(100% - 500px);
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.onshore-service-right h1 {
  min-height: 40px;
  color: #18548a;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold !important;
}

.onshore-service-right p {
  width: 100%;
  text-align: justify;
  text-align-last: start;
  font-weight: normal;
  line-height: "1";
  word-break: "break-word";
}

/* Partners */
.partner-container {
  background-color: #eef7ff;
}

.partner-container h1 {
  color: #18548a;
  font-size: 3rem;
  text-align: start;
  font-weight: 400 !important;
}

.partner-container p {
  width: 70%;
  text-align: justify;
  text-align-last: center;
  font-weight: normal;
  line-height: "1";
  word-break: "break-word";
}

.partner-container p span {
  color: #eb3678;
}

.partner-carousel {
  width: 100%;
  overflow-x: auto;
}

.partner-item {
  width: auto;
  height: 120px;
  background-color: white;
  border: 1px solid #7aa2e3;
}

.partner-item img {
  width: 100px !important;
}

/* Team */
.team-container {
  background-color: #f1f6f9;
  overflow-x: hidden;
}

.team-container h1 {
  color: #18548a;
  font-size: 3rem;
  text-align: start;
  font-weight: 400 !important;
}

.team-page-container {
  background-color: white;
}

.a-team-container {
  margin-top: 70px;
  min-height: calc(100vh - 70px);
  /* max-height: 100vh; */
  /* height: calc(100vh - 70px); */
  background-color: white;
}

.a-team-left-container {
  width: 45%;
}

.a-team-right-container {
  width: 55%;
  overflow: hidden;
}

.a-team-right-container .a-team-image-1,
.a-team-right-container .a-team-image-2,
.a-team-right-container .a-team-image-3,
.a-team-right-container .a-team-image-4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.a-team-right-container .a-team-image-1 {
  background-image: url(/public/img/1ef6959ba9fbf52c0f3b4e66559edd16.jpg);
  /* width: 450px;
  height: 350px; */
  width: 400px;
  height: 300px;
  left: 30px;
  top: 40px;
  z-index: 1;
  transform: rotate(10deg);
}

.a-team-right-container .a-team-image-2 {
  background-image: url(/public/img/806140d1aa40d26f0af170ea10979bbc.jpg);
  /* width: 350px;
  height: 250px; */
  width: 300px;
  height: 250px;
  right: 25px;
  top: 30px;
  z-index: 1;
  transform: rotate(-10deg);
}

.a-team-right-container .a-team-image-3 {
  background-image: url(/public/img/99380bf5d13c8f7de48afcbe7cae6a6a.jpg);
  /* width: 400px;
  height: 250px; */
  width: 350px;
  height: 250px;
  left: 50px;
  bottom: -15px;
  z-index: 1;
  transform: rotate(-12deg);
}

.a-team-right-container .a-team-image-4 {
  background-image: url(/public/img/6bfad96150c9faefbc1bfdc02a6cae06.jpg);
  width: 350px;
  /* height: 250px; */
  height: 300px;
  right: 10px;
  /* bottom: -5px; */
  bottom: 0px;
  z-index: 1;
  transform: rotate(0deg);
}

.quote-container {
  min-height: 40vh;
  background-color: #ffefef;
}

.quote-left-container,
.quote-right-container {
  width: 50%;
}

.quote-left-container h1 {
  width: 80%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #eb3678;
}

.quote-right-container {
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/public/img/52c2c8546e3e2dcb0f9c6fa58b520f53.jpg);
}

.staff-container h1 {
  color: #18548a;
  font-size: 3rem;
  text-align: start;
  font-weight: 400 !important;
}

.directors-container {
  width: 100%;
  height: auto;
  row-gap: 50px;
}

.directors-row {
  width: 100%;
}

.directors-left-container,
.directors-right-container {
  width: 50%;
  height: auto;
}

.director-image {
  width: 150px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: auto;
  z-index: 10;
}

.directors-details-container {
  width: calc(100% - 200px);
  margin-right: 70px !important;
  position: absolute;
  background-color: #fe3c66;
  right: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.directors-details-container h1 {
  font-size: 1.5rem;
  color: white;
}

.directors-details-container p {
  font-size: 0.7rem;
  color: white;
}

.join-container h1 {
  color: #18548a;
  font-size: 3rem;
  text-align: start;
  font-weight: 400 !important;
}

/* Media Querry */
@media (min-width: 1400px) and (max-width: 1980px) {
  .hero-container {
    height: 500px;
  }

  .hero-para {
    width: 80%;
  }

  .service-item .service-item-image {
    height: 250px;
  }

  .a-team-container {
    min-height: 500px;
  }

  .a-team-left-container {
  }

  .a-team-right-container .a-team-image-1 {
    width: 550px;
    height: 300px;
  }

  .a-team-right-container .a-team-image-2 {
    width: 450px;
  }

  .a-team-right-container .a-team-image-3 {
    width: 480px;
    left: 7%;
    bottom: -25px;
  }

  .a-team-right-container .a-team-image-4 {
    width: 500px;
    right: 0;
    bottom: 0px;
  }
}

@media (min-width: 1368px) and (max-width: 1399px) {
  .hero-container {
    height: 550px;
  }

  .hero-para {
    width: 80%;
  }

  .a-team-container {
    height: calc(100vh - 70px);
  }
}

@media (max-width: 1367px) {
  .hero-left {
    width: 45%;
  }

  .hero-right {
    width: 55%;
  }

  .hero-para {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .a-team-container {
    flex-direction: column !important;
    height: auto;
  }

  .a-team-left-container,
  .a-team-right-container {
    width: 100%;
  }

  .a-team-right-container {
    height: 400px;
  }

  .a-team-right-container .a-team-image-1 {
    width: 500px;
  }

  .a-team-right-container .a-team-image-2 {
    width: 350px;
    right: 15%;
    top: -50px;
  }

  .a-team-right-container .a-team-image-3 {
    width: 350px;
    height: 200px;
    left: 15%;
  }

  .a-team-right-container .a-team-image-4 {
    width: 400px;
    right: 5%;
    bottom: -50px;
  }

  .directors-container {
    row-gap: 0px;
  }

  .directors-row {
    flex-direction: column !important;
  }

  .directors-left-container,
  .directors-right-container {
    width: 100%;
  }
}

@media screen and(max-width:1120px) {
  #home {
    margin-top: 5vh !important;
  }
}

@media (max-width: 1068px) {
  .testimonial-item {
    min-width: 280px;
    width: auto;
  }
}

@media screen and (max-width: 1000px) {
  .clients-container {
    flex-direction: column !important;
    align-items: center;
    height: auto;
  }

  .clients-container-left {
    width: 70%;
    height: 85vh;
  }

  .clients-container-right {
    width: 70%;
    padding: 35px 0 !important;
    height: auto;
  }
}

@media (max-width: 992px) {
  .hero-container {
    height: auto;
  }

  .hero-left {
    width: 100%;
    padding: 80px 60px !important;
  }

  .hero-right {
    height: 0px !important;
  }

  .footer-container {
    width: 90%;
  }
}

@media (max-width: 968px) {
  .clients-container-left {
    width: 700px;
  }

  .service-onshore-container {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }

  .onshore-service-item .onshore-service-left {
    width: 300px;
  }

  .onshore-service-item .onshore-service-right {
    width: calc(100% - 300px);
  }
}

@media (max-width: 850px) {
  .footer-container {
    flex-direction: column;
    justify-content: start !important;
  }
}

@media (max-width: 800px) {
  .quote-container {
    flex-direction: column !important;
    height: auto;
  }

  .quote-left-container,
  .quote-right-container {
    width: 100%;
  }

  .quote-right-container {
    height: 300px;
  }

  .quote-left-container h1 {
    width: 100%;
    text-align: center !important;
  }
}

@media (max-width: 768px) {
  .clients-container-left {
    /* width: 100%;
    flex-grow: 1 !important; */
    height: 0 !important;
  }

  .clients-container-right {
    width: 100%;
    padding: 30px !important;
  }

  .footer-container {
    align-items: start;
  }

  .footer-section .footer-destinations-list {
    gap: 100px;
  }

  .footer-section h3 {
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  .onshore-service-item {
    flex-direction: column;
  }

  .onshore-service-item .onshore-service-left {
    width: 100%;
    background-position: top;
  }

  .onshore-service-item .onshore-service-right {
    width: 100%;
    margin-left: 0% !important;
    margin-top: 20px !important;
  }

  .a-team-container {
    min-height: 400px;
  }

  .a-team-right-container {
    display: none !important;
  }

  .director-image {
    width: 120px;
    height: 110px;
  }

  .directors-details-container {
    width: calc(100% - 80px);
    left: 0;
    margin-right: 0px !important;
    margin-left: 80px;
  }

  .directors-details-container h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 500px) {
  .hero-left {
    padding: 100px 30px !important;
  }

  .hero-sub-title {
    text-align: start;
  }

  .hero-title {
    font-size: 3rem !important;
  }

  .hero-left,
  .clients-container-right,
  .a-team-left-container,
  .quote-left-container,
  .staff-container,
  .join-container,
  .track-record-container,
  .services-container,
  .partner-container,
  .team-container {
    padding: 50px 20px !important;
  }

  .clients-container-left,
  .clients-container-right {
    width: 100%;
  }

  /* .clients-container-right {
    padding: 35px !important;
  } */

  /* .clients-container-right h1 {
    font-size: 2.5rem !important;
  } */

  .testimonial-container {
    padding: 60px 30px !important;
  }

  /* .testimonial-container h1 {
    font-size: 2rem;
  } */

  .testimonial-carousel {
    position: relative;
  }

  .testimonial-slider {
    width: 100%;
    min-width: 250px;
  }

  .testimonial-carousel button {
    position: absolute;
  }

  .testimonial-carousel .testimonial-btn-left {
    left: 0;
  }

  .testimonial-carousel .testimonial-btn-right {
    right: 0;
  }

  .testimonial-item {
    min-width: 300px;
  }

  .partner-container h1,
  .services-container h1,
  .track-record-container h1,
  .testimonial-container h1,
  .clients-container-right h1 {
    font-size: 2.5rem;
  }

  .onshore-service-right h1,
  .service-item h1 {
    font-size: 1.5rem;
  }

  .footer-brand-container {
    flex-direction: column !important;
  }

  .footer-bottom img {
    margin-right: 0px;
    margin-bottom: 25px !important;
  }

  .track-record-item {
    width: 100%;
  }

  .hero-para,
  .track-record-container p,
  .services-container p,
  .partner-container p,
  .team-container p {
    width: 100%;
    max-width: 100%;
  }

  .staff-container h1 {
    text-align: center !important;
  }

  .directors-row {
    row-gap: 40px;
  }

  .directors-left-container,
  .directors-right-container {
    flex-direction: column !important;
    min-height: 200px;
  }

  .directors-details-container {
    border-radius: 50px;
    width: 100%;
    margin-left: 0px !important;
    margin-top: 120px !important;
    align-items: center !important;
    padding-left: 1rem !important;
  }

  .directors-details-container p,
  .directors-details-container h1 {
    text-align: center !important;
  }

  .directors-details-container p {
    max-width: 80%;
  }
}

@media (min-width: 375px) {
  .show {
    display: block;
    margin-left: 13%;
  }
}

@media (min-width: 425px) {
  .show {
    display: block;
    margin-left: 15%;
  }
}

@media (max-width: 400px) {
  .footer-maps-container {
    flex-direction: column !important;
  }

  .footer-section .footer-destinations-list {
    columns: 1;
  }

  .footer-maps-container .map-1,
  .footer-maps-container .map-2 {
    height: 100px;
  }

  .footer-social-container {
    flex-direction: row !important;
  }
}

@media (min-width: 768px) {
  .dropdown-menu {
    margin-left: 20%;
  }
  .show {
    margin-left: 12%;
  }
}

/* Key frames */
@keyframes shrinkText {
  0% {
    font-size: 6rem;
  }
  100% {
    font-size: 4.5rem;
  }
}

@keyframes shrinkDiv {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes moveToTop {
  0% {
    justify-content: center;
  }
  100% {
    justify-content: start;
  }
}

@keyframes fadeInRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes wowEffect {
  0% {
    opacity: 0;
    transform: translateY(150px); /* Move the image from 150px below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Move the image back to its original position */
  }
}

@keyframes unWrap {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes wrap {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
